<!DOCTYPE html>
  <html lang="en">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@500&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="../static/css/home.css">
         <title>Let Me Explain</title>
     </head>
     <body>
     <style>
         body{
             background: url("https://img.freepik.com/free-photo/minimal-neutral-earth-tone-abstract-background_53876-102523.jpg?w=2000");
         }
     </style>
         <header class="heading">
             <h1 class="brand-name">Lemme Explain</h1>
         </header>

         <main class = "blog-index">
		 {{range .}}
            <div id="blog-container">
                <div class = "blog-items">
                    <a class = "title" href = "/view/{{.ID}}">{{.Title}}</a>
                    <p class = "date">{{.PublishedDate}}</p>
                    <p class = "author">{{.Author}}</p>
                    <p class = "description">{{.Clickbait}}</p>
                </div>
            </div>
         {{end}}
     </main>
  </body>
</html>

