<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/view.css">
  <title>Let Me Explain</title>
</head>
<body>
   <div class="container">
      <h1 class="title" style="color: rgb(22, 3, 3);">{{.Title}}</h1>
      <div class="blog-desc">
         <p style="color: rgb(17, 4, 4);">{{.PublishedDate}}</p>
         <p style="color: rgb(10, 2, 2);">{{.Author}}</p>
      </div>

   <main class="blog-content">
     <div class="blog-container">
        <pre>
          {{.Description}}
         </pre>
     </div>
   </main>

  </div>
 </body>
</html>
